
  .header-area {
    background-color: darksalmon;
  }
  .header-area .main-nav .logo {
      float: left;
  }
  
  .header-area .main-nav .nav {
    float: right;
  
  }
  .header-area .main-nav .nav li {
    padding-left: 0px;
    padding-right: 20px;
  }
  .header-area .main-nav .nav li a {
   display: block;
    color: #fff;
   letter-spacing: 1px;
   line-height: 40px;
  }
  .header-area .main-nav .nav li a:hover {
      opacity: 50%;
    
   }
 #main a{
    text-decoration: none;
 }